pkgbase = linux-librem
	pkgver = 4.14.12
	pkgrel = 1
	url = https://www.kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.14.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.14.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.14.12.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.14.12.sign
	source = linux-librem.config
	source = linux-librem.preset
	source = linux-librem.install
	source = 90-linux-librem.hook
	source = byd-touchpad.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = f81d59477e90a130857ce18dc02f4fbe5725854911db1e7ba770c7cd350f96a7
	sha256sums = SKIP
	sha256sums = da5d8db44b0988e4c45346899d3f5a51f8bd6c25f14e729615ca9ff9f17bdefd
	sha256sums = SKIP
	sha256sums = ac0b47561aaba6f231316f06af063c9f4cb1d89e923df68f958636eb5c39d911
	sha256sums = 027aae2677a2d9b184ee39142997484020bc5774dbb74c4776f20cb417881ce5
	sha256sums = 33ff5ceebdc10b5623642d770527d0cac437e45e841c65148e3a3d0f68e52cdf
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = 4d675bd6c5f7e69854be55eba5480f70bd65cc3b4501efd29c272527c78aea14

pkgname = linux-librem
	pkgdesc = The Linux LTS kernel and modules for Librem systems
	install = linux-librem.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-librem.preset

pkgname = linux-librem-headers
	pkgdesc = Header files and scripts for building modules for Linux-librem kernel

pkgname = linux-librem-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux LTS kernel for Librem systems

