pkgbase = linux-librem
	pkgver = 4.15.7
	pkgrel = 1
	url = https://www.kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.15.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.15.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.15.7.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.15.7.sign
	source = linux-librem.config
	source = linux-librem.preset
	source = linux-librem.install
	source = 90-linux-librem.hook
	source = byd-touchpad.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 5a26478906d5005f4f809402e981518d2b8844949199f60c4b6e1f986ca2a769
	sha256sums = SKIP
	sha256sums = 0dad200b26837acd0340dfe18d9610467c111df5719440248cd8be6fb8d6dd02
	sha256sums = SKIP
	sha256sums = 6d5faa93b362b319700b6f2ab32687d31ae05e59956c115a152fbf54975b90cf
	sha256sums = 027aae2677a2d9b184ee39142997484020bc5774dbb74c4776f20cb417881ce5
	sha256sums = 33ff5ceebdc10b5623642d770527d0cac437e45e841c65148e3a3d0f68e52cdf
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = 08542a90d02ad89ede062967d4beac1cc5f4ef1407b9df2224ed7cfe91284444

pkgname = linux-librem
	pkgdesc = The Linux LTS kernel and modules for Librem systems
	install = linux-librem.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-librem.preset

pkgname = linux-librem-headers
	pkgdesc = Header files and scripts for building modules for Linux-librem kernel

pkgname = linux-librem-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux LTS kernel for Librem systems

