pkgbase = linux-librem
	pkgver = 4.12.12
	pkgrel = 1
	url = https://www.kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.12.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.12.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.12.12.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.12.12.sign
	source = linux-librem.config
	source = linux-librem.preset
	source = linux-librem.install
	source = 90-linux-librem.hook
	source = enable-byd-touchpad-detection.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = a45c3becd4d08ce411c14628a949d08e2433d8cdeca92036c7013980e93858ab
	sha256sums = SKIP
	sha256sums = 7a2aa6720219b1b84e63d75206049f4dab1840717cb8379a3f92a6ec05fd07c9
	sha256sums = SKIP
	sha256sums = 6287f0e668e357b25d8eabed582233149059c019267de4c92a4ed4c9d2db706d
	sha256sums = 2cb38195bf649dde54e463039def09c13e8c997d9385eddf96364ad22a2e23c0
	sha256sums = dbb0233e451ae1f1c998fca02747028b051864473a54660073e15e946c5f08e9
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = 23f792a163a21a0b168565a62dbcfc77fd05a544a26088cd33d4dcb9ad5fe507

pkgname = linux-librem
	pkgdesc = The Linux LTS kernel and modules for Librem systems
	install = linux-librem.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-librem.preset

pkgname = linux-librem-headers
	pkgdesc = Header files and scripts for building modules for the Linux LTS kernel for Librem systems

pkgname = linux-librem-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux LTS kernel for Librem systems

